%div.user-bodycontent.full-width
  %div.toolbar-users
    %h3
      #{count_messages} Messages
  .table-user-wrapper.layoutbox
    .table-portal
      %table.tbl.o__fit.o__fixed.keyboard_accessible.js__user-list-table
        %thead
          %tr
            %th.tbl__cell.t__small-caps.name.o__fixed-header
            %th.tbl__cell.t__small-caps.name.o__fixed-header
            %th.tbl__cell.t__small-caps.name.o__fixed-header
            %th.tbl__cell.t__small-caps.name.o__fixed-header
            %th.tbl__cell.t__small-caps.name.o__fixed-header
        - Email.where(account_id: current_account_id).each do |email|
          %tbody.tbl__body
            - 30.times do
              %tr
                %td.tbl__cell
                  = email.from
                %td.tbl__cell
                  = email.subject
                %td.tbl__cell
                  = email.body
                %td.tbl__cell
                  = email.created_at
                %td.tbl__cell

        %tbody.tbl__body
          - 30.times do
            %tr
              %td.tbl__cell
              %td.tbl__cell
              %td.tbl__cell
              %td.tbl__cell
              %td.tbl__cell
