/ Sidebar
%section#sidebar
  .inner
    %nav
      %ul
        %li
          %a{:href => "#intro"} Welcome
        %li
          %a{:href => "#one"} What we do
        %li
          %a{:href => "#two"} Who trusts us
        %li
          %a{:href => "#three"} Get started
/ Wrapper
#wrapper
  / Intro
  %section#intro.wrapper.style1.fullscreen.fade-up
    .inner
      %h1 ReplyFrom
      %p
        The easiest way to manage
        %br/
        bulk replies from your email list
      %ul.actions
        %li
          %a.button.scrolly{:href => "#one"} Learn more
  / Two
  %section#one.wrapper.style3.fade-up
    .inner
      %h2 What we do
      %p We provide you with a way to engage your email list users through organizing the responses. We provide an email address to forward all of your messages. Our slick dashboard makes it easy to compile and organize responses to get them back out in no time.
      .features
        %section
          %span.icon.major.fa-code
          %h3 Engage your email list
          %p We provide a unique email address for you to forward responses
        %section
          %span.icon.major.fa-lock
          %h3 Organize responses
          %p Our dashboard makes it easy to select the responses you want
        %section
          %span.icon.major.fa-cog
          %h3 Compile using templates
          %p Use a simple template to display your responses
        %section
          %span.icon.major.fa-desktop
          %h3 Keep campaigns seperate
          %p Seperating responses into campaigns is easy
        %section
          %span.icon.major.fa-chain
          %h3 Automate processes
          %p Set up automatic rules to process your campaigns
        %section
          %span.icon.major.fa-diamond
          %h3 And more
          %p We are continually improving our service based on your feedback
      %ul.actions
        %li
          %a.button{:href => "#"} Learn more
  / One
  %section#two.wrapper.style2.spotlights
    %section
      %a.image{:href => "#"}
        %img{:alt => "", "data-position" => "center center", :src => "images/pic01.jpg"}/
      .content
        .inner
          %h2 Personal Lists
          %p Turn your personal email list into an opportunity to engage in feedback. Whether its a personal project, a group of friends, or a team at work, you can get your audience input.
          %ul.actions
            %li
              %a.button{:href => "#"} Learn more
    %section
      %a.image{:href => "#"}
        %img{:alt => "", "data-position" => "top center", :src => "images/pic02.jpg"}/
      .content
        .inner
          %h2 Professional Audience
          %p Alumni networks, office mailing lists, or any mid-sized audience can be easily engaged. You no longer have to worry about time consuming email inboxes.
          %ul.actions
            %li
              %a.button{:href => "#"} Learn more
    %section
      %a.image{:href => "#"}
        %img{:alt => "", "data-position" => "25% 25%", :src => "images/pic03.jpg"}/
      .content
        .inner
          %h2 Publication
          %p Whether you're running a advertiser sponsored campaign or getting user feedback, we can help you at scale.
          %ul.actions
            %li
              %a.button{:href => "#"} Learn more
  / Three
  %section#three.wrapper.style1.fade-up.homein
    .inner
      %h2 Get started
      %p
        We are working with a small group of users now.
        %br Sign up now to be in with a chance:
      .style1
        %section
          = simple_form_for @contact, :url => url_for(:action => 'create', :controller => 'contacts'), :html => {:class => 'form-horizontal' } do |f|
            .field.half.first
              = f.input :name, :required => true
            .field.half
              = f.input :email, :required => true
            .field
              = f.input :message, :as => :text, name: 'message', id: 'message', :required => false, :input_html => {:type => :text, :rows => 5}
            .form-actions
            = f.button :submit, 'Send message', :class=> "btn btn-primary"
/ Footer
%footer#footer.wrapper.style1-alt
  .inner
    %ul.menu
      %li &copy; ReplyFrom. All rights reserved.
      %li
        Design:
        %a{:href => "http://html5up.net"} HTML5 UP
/ Scripts
%script{:src => "assets/js/jquery.min.js"}
%script{:src => "assets/js/jquery.scrollex.min.js"}
%script{:src => "assets/js/jquery.scrolly.min.js"}
%script{:src => "assets/js/skel.min.js"}
%script{:src => "assets/js/util.js"}
/[if lte IE 8] <script src="assets/js/ie/respond.min.js"></script>
%script{:src => "assets/js/main.js"}