.container
  %h1 Contact
  = simple_form_for @contact, :url => url_for(:action => 'create', :controller => 'contacts'), :html => {:class => 'form-horizontal' } do |f|
    .field.half.first
      = f.input :name, :required => true
    .field.half
      = f.input :email, :required => true
    .field
      = f.input :message, :as => :text, name: 'message', id: 'message', :required => false, :input_html => {:type => :text, :rows => 5}
    .form-actions
    = f.button :submit, 'Send message', :class=> "btn btn-primary"