!!!
%html.no-js{lang: 'en'}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}
    %title= content_for?(:title) ? yield(:title) : I18n.t('brand.name')
    %meta{content: (content_for?(:description) ? yield(:description) : I18n.t('brand.name')), name: 'description'}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    /[if lt IE 9]
      = javascript_include_tag 'ie', 'data-turbolinks-track' => true
    = javascript_include_tag 'head', 'data-turbolinks-track' => true
    = headjs_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = yield :head
    = set_display_meta_tags
    = render 'layouts/headjs'
  %body{class: "controller__#{controller_name} action__#{action_name}"}
    - if controller_name != 'pages' || action_name != 'home'
      .app-wrapper.layoutbox
        .app-row.layoutbox.flexto1.height100
          .app-row.layoutbox.flexto1.height100
            = render 'layouts/navigation'
            #wrapper.layoutbox.height100
              %section#main.wrapper.container.layoutbox.flexto1.app-row.height100
                .inner.app-row.height100
                  .errors__container
                    = render 'layouts/messages'
                  .app-columns.height100
                    = yield

    - else
      = yield

    = render 'layouts/analytics'
    = render 'layouts/javascripts'
